{% extends "base.html" %}
{% load mytemplatetags %}

{% block content %}
<h2>Uporabnik: {{user_info.username}}</h2>
<div class="post_header"></div>
<div class="post">
	<div class="icon"><img src="/images/avatar.jpg" width="80" /></div>
	<div class="content">
		<div class="info">
			<b><a href="/user/{{user_info.id}}">{{user_info.username}}</a></b>
		</div>
		
		<div class="p">
			Pridružen: {{ user_info.date_joined }}<br /><br />
			Javne datoteke: {{public_items.count}}
		</div>
	</div>
	<div class="clear"></div>
</div>

{% if public_items.count > 0 %}
<h2>Javne datoteke</h2>
{% show_items public_items %}
{% endif %}
{% endblock %}

{% block right %}
<div class="box">
	<h2>Uporabniki</h2>
	<ul style="list-style:none;padding-left:10px">
	{% for user in users %}
		<li style="margin-bottom:5px"><a href="/user/{{user.id}}">{{user.username}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}